<h2>Commits Logs History</h2>

<table summary="Last SCM logs history coming from Jenkins' logs">
    <thead>
        <tr>
            <th>Build</th>
            <th>Commit message</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for i, commit in commits %}
        <tr class="highlight">
            <td style="text-align: center; width: 40px">
                #{{ commit.build }}
            </td>
            <td>{{ commit.message }}</td>
            <td>{{ commit.author }}</td>
            <td>{{ commit.date|date('d M. Y H:i') }}</td>
        </tr>
        <tr>
            <td colspan="1" style="text-align: center; width: 40px">
                <img src="{{ asset('/bundles/fosjenkins/images/icons/file.png') }}" alt=""/>
            </td>
            <td colspan="3">
                <pre>{{ commit.files|join("\n") }}</pre>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>