<h2>Project Information</h2>

<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Project name</th>
            <td>{{ collector.projectName }}</td>
        </tr>
        <tr>
            <th>Display name</th>
            <td>{{ collector.displayName }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ collector.description }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>
                <a href="{{ collector.url }}">
                    {{ collector.url }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if collector.isBuildable %}
                    <span style="color: #759e1a">Buildable</span>
                {% else %}
                    <span style="color: #a33">Not buildable</span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<h2><abbr title="Source Code Management">SCM</abbr> Tool</h2>

<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Type</th>
            <td>{{ collector.scmToolType }}</td>
        </tr>
        <tr>
            <th>Remote repository</th>
            <td>{{ collector.scmRepositoryUrl }}</td>
        </tr>
        <tr>
            <th>Latest commit</th>
            <td>{{ collector.scmLatestCommit }}</td>
        </tr>
        <tr>
            <th>Latest committed files</th>
            <td>{{ collector.scmLatestCommittedFiles }}</td>
        </tr>
    </tbody>
</table>

<h2>Builds Statistics</h2>

<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Builds count</th>
            <td>{{ collector.buildsCount }}</td>
            <th>Next build</th>
            <td>#{{ collector.nextBuild }}</td>
        </tr>
        <tr>
            <th>First build</th>
            <td>#{{ collector.firstBuild }}</td>
            <th>Last build</th>
            <td>#{{ collector.lastBuild }}</td>
        </tr>
        <tr>
            <th>Last stable build</th>
            <td>#{{ collector.lastStableBuild }}</td>
            <th>Last unstable build</th>
            <td>#{{ collector.lastUnstableBuild }}</td>
        </tr>
        <tr>
            <th>Last successful build</th>
            <td>#{{ collector.lastSuccessfulBuild }}</td>
            <th>Last unsuccessful build</th>
            <td>#{{ collector.lastunSuccessfulBuild }}</td>
        </tr>
        <tr>
            <th>Last completed build</th>
            <td>#{{ collector.lastCompletedBuild }}</td>
            <th>Last failed build</th>
            <td>#{{ collector.lastFailedBuild }}</td>
        </tr>
    </tbody>
</table>


<h2>Automated Tests Summary</h2>

<table summary="Automated tests summary for the last build">
    <thead>
        <tr>
            <th>Total tests count</th>
            <th>Passed tests</th>
            <th>Skipped tests</th>
            <th>Failed tests</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: right;">
                {{ collector.totalTestsCount }}
            </td>
            <td style="text-align: right;">
                {{ collector.passedTestsCount }}
            </td>
            <td style="text-align: right;">
                {{ collector.skippedTestsCount }}
            </td>
            <td style="text-align: right;">
                {{ collector.failedTestsCount }}
            </td>
        </tr>
        <tr>
            <th colspan="4">
                Tests results trend
            </th>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center">
                <img src="{{ collector.endpoint }}/test/trend" alt=""/>
            </td>
        </tr>
    </tbody>
</table>