<h2>Builds History</h2>

<table summary="Last builds history coming from Jenkins' logs">
    <thead>
        <tr>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">#ID</th>
            <th>Build status</th>
            <th>Build date</th>
        </tr>
    </thead>
    <tbody>
    {% for build in builds %}
        <tr>
            <th style="text-align: center; width: 40px">
                <a href="{{ build.uri }}" title="Go to the build summary">
                {% if build.isSucceeded %}
                    <img src="{{ asset('bundles/fosjenkins/images/profiler/green_ball_20x20.png') }}" alt="Build successfull" title="Build successfull" />
                {% else %}
                    <img src="{{ asset('bundles/fosjenkins/images/profiler/red_ball_20x20.png') }}" alt="Build failed" title="Build failed"/>
                {% endif %}
                </a>
            </th>
            <th style="text-align: center; width: 40px">#{{ build.number }}</th>
            <td>{{ build.status }}</td>
            <td>{{ build.date|date('d M. Y H:i') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>